main, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(41, 49, 51); /* Anthrazit */
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 480px;
    width: 480px;
    border: 1px solid white;
    border-radius: 15px;
}

h2 {
    color: whitesmoke;
}